PORT=3000
FRONTEND_URL=http://localhost:5173
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
ADMIN_NOTIFICATION_EMAIL=


INFINITEPAY_HANDLE=
INFINITEPAY_API_URL=
INFINITEPAY_REDIRECT_URL=
INFINITEPAY_WEBHOOK_URL=
INFINITEPAY_WEBHOOK_TOKEN=
